:root {
  --bg-color: #eeebe3;
  --text-color: #333332;
}

.ListCardTemplate{
  padding-top:5px;
}
.ListCardTemplate .card {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-color);
  border: 1px solid var(--gold);
  border-radius: 5px;
  
}

.ListCardTemplate .card-body{
  padding:0px;
  display: flex;
  flex-flow: column;
  
}
.ListCardTemplate .Heading {
  color: var(--gold);
  padding-top: 10px;
}
.ListCardTemplate .price {
  color: var(--text-color);
  margin-top: 5px;
}
.ListCardTemplate .text {
  color: var(--cardText);

  font-size: 12px;
}

.ListCardTemplate .circular {
  border-radius: 100px;
  margin: 5px;
}
.ListCardTemplate .card-text{
  max-height: 100px;
  overflow: hidden;
}
.ListCardTemplate .list-footer{
  /* flex-grow : 1;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center; */
  padding:10px;
}
.ListCardTemplate img{
    object-fit: cover;
    height:250px;
    padding: 0px;
}
.ListCardTemplate .pulse {
  overflow: visible;
  position: relative;
}

.ListCardTemplate .pulse:before {
  transition: opacity 0.3s, transform 0.3s;
  animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1;
}
@keyframes pulse-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.ListCardTemplate .readMore {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  font-style: italic;
  font-size: 15px;
}
