/* a {
  text-decoration: none !important;
  color: #eee;
}

a:hover {
  color: white;
}
.Navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 16;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.menu-toggle {
  position: fixed;
  top: 3%;
  right: 5%;
  color: #eeeeee;
  font-size: 200%;
  cursor: pointer;
  z-index: 1;
  display: none;
}

nav {
  padding-top: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  display: inline;
  float: right;
}

.brand {
  padding-top: 3%;
  padding-left: 3%;
  font-weight: 300;
  font-size: 5rem;
  transform: translateY(-100rem);
  animation: slideIn 0.5s forwards;
  float: left;
}

.brand span {
  color: var(--gold);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
  animation-delay: 1s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #b8965f;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

overlay used for navbar
.overlay {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  transition: ease-in 3s;
  transform: translateY(100px);
  display: none;
}

.brand {
  font-size: 40px;
  margin-top: 20px;
  margin-top: 20px;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 767px) {
  .menu-toggle {
    display: block;
  }

  nav {
    padding-top: 3%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .container {
    float: left;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-top: 5%;
  }

  nav ul li a {
    margin: 0;
    font-size: 25px;
  }

  .Navd {
    background-color: #1a1a1a;
    opacity: 0.9;
    position: flex;
    flex-direction: column;
    top: 0;
    height: 41%;
    transition: all 0.5s ;
    z-index: 12;
  }
  .Navbar .Navd {
  }

  .overlay.menu-open,
  nav.menu-open {
    display: flex;
    flex-direction: column;
    z-index: auto;
    float: none;
  }

/* 
  .menu-toggle {
    display: block;
  }

  nav {
    padding-top: 10;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin-top: 5%;
  }

  nav ul li a {
    margin: 0;
    font-size: 25px;
  }


  .brand {
    font-size: 5rem;
  }

  .overlay.menu-open,
  nav.menu-open {
    display: flex;
    transform: scale(1);
    opacity: 1;
  } */

  .space{
    padding-right:4px;
  }
  .mynavbar .navbar{
    background-color: #f1ece0;
  }
  .mynavbar .nav-link{
        color: #463d11c4;
  }